<%- include('../Views/template/header')-%>


<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<%- include('../Views/template/navbar')-%>
<main role="main" class="inner cover">
<h1 class="cover-heading">CATEGORIES PAGE</h1>


<a href="/mens"> Mens</a>
<a href="/womens"> Womens</a>
</main>
<%- include("../Views/template/footer")-%>
</div>
</body>


<script>
    window.onload = function() {
        document.getElementById('Home').classList.add('active');
      };
</script>


</html>
