<style>
  .footer {
    position: bottom;
    left: 0;
    bottom: 10;
    width: 100%;
    height: 6%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 16px;
  }
  </style>
<footer class="footer" >
  <div class="footer" style="padding-top: 5px" >OSF Backend © 2020 Copyright:
    <a href="https://github.com/ezgibsahin"> Ezgi Şahin </a>
  </div>
</footer>