<footer class="page-footer font-small">

    <div class="footer-copyright text-center py-3">OSF Backend © 2020 Copyright:
      <!--  <a href="https://github.com/ezgibsahin"> Ezgi Şahin </a> -->
     <a>Ezgi Şahin</a>
        
    </div>

  </footer>
