<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">EzgiEcommerceNavbar</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a id='home' class="nav-link" href="/">HOME</a>
            <a id='products' class="nav-link" href="/products">PRODUCTS</a>
            <a id='categories' class="nav-link" href="/categories">CATEGORIES</a>
            <a id='signin' class="nav-link" href="/signin">SIGN IN</a>
            <a id='signup' class="nav-link" href="/signup">SIGN UP</a>
            <a id='wishlist' class="nav-link" href="/wishlist">WISHLIST</a>
            <a id='cart' class="nav-link" href="/cart">CART</a>
        </nav>
    </div>
    <link href="css/navbar.style.css" rel="stylesheet">
</header>  


