<nav class="navbar navbar-expand-lg navbar-dark primary-color">
  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">Alibazon</a>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <!-- Links -->

    <div class="form-group">
      <label>Search</label>
      <input type="search" class="form-control" placeholder="Search">
   </div>
  
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a id='home' class="nav-link" href="/">HOME
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a id='mens' class="nav-link" href="categories/mens"">Mens</a>
      </li>
      <li class="nav-item">
        <a id='mens' class="nav-link" href="categories/womens"">womens</a>
      </li>
      <li class="nav-item">
        <a id='signin' class="nav-link" href="auth/signin">SIGN IN</a>
      </li>
    
      <li class="nav-item">
        <a id='signup' class="nav-link" href="auth/signup">SIGN UP</a>
      </li>
      <li class="nav-item">
        <a id='wishlist' class="nav-link" href="/wishlist">WISHLIST</a>
      </li>
      <li class="nav-item">
        <a id='cart' class="nav-link" href="/cart">CART</a>
      </li>
    </ul>
    <!-- Links -->
    <form class="form-inline">


     
    </form>
    <script type="text/javascript">
          function replyClick(clickedId)
          {
            alert(clickedId);
          }
    </script>
  </div>
  <!-- Collapsible content -->
</nav>

<!---   <link href="../stylesheets/navbar.style.css" rel="stylesheet">    -->