<nav class="navbar navbar-expand-lg navbar-dark primary-color">
  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">Alibazon</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<
  

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a id='home' class="nav-link" href="/">HOME
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <button id='mens' onClick="replyClick(this.id)">Mens</button>
      </li>
      <li class="nav-item">
        <button id='womens' onClick="replyClick(this.id)">Womens</button>
      </li>
      <li class="nav-item">
        <a id='signin' class="nav-link" href="/signin">SIGN IN</a>
      </li>
      <li class="nav-item">
        <a id='signin' class="nav-link" href="/signin">SIGN IN</a>
      </li>
      <li class="nav-item">
        <a id='signup' class="nav-link" href="/signup">SIGN UP</a>
      </li>
      <li class="nav-item">
        <a id='wishlist' class="nav-link" href="/wishlist">WISHLIST</a>
      </li>
      <li class="nav-item">
        <a id='cart' class="nav-link" href="/cart">CART</a>
      </li>
    </ul>
    <!-- Links -->
    <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form>
    <script type="text/javascript">
          function replyClick(clickedId)
          {
            alert(clickedId);
          }
    </script>
  </div>
  <!-- Collapsible content -->
</nav>

<!---   <link href="../stylesheets/navbar.style.css" rel="stylesheet">    -->